<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/auth/change_password_styles.css') }}">
  <title>Change Password</title>
</head>
<body>
  <div class="change-password-container">
    <h2>Change Password</h2>
    <form method="POST" action="{{ url_for('auth.change_password') }}">
      <div class="password-inputs">
        {% for i in range(16) %}
          <input type="password" name="password{{ i }}" maxlength="1" required>
        {% endfor %}
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</body>
</html>
