<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/auth/password_styles.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/auth/password_script.js') }}"></script>
  <title>Password</title>

</head>
<body>
  <div class="password-container">
    <h2>Enter Password</h2>
    <form method="POST" action="{{ url_for('auth.password', username=username, chosen_combination_positions=chosen_combination_positions) }}"  onsubmit="showLoading()">
      <div class="password-inputs">
        {% for i in range(16) %}
        {% if i not in chosen_combination_positions %}
            <input type="password" name="password{{ i }}" maxlength="1" disabled>
        {% else %}
            <input type="password" name="password{{ i }}" maxlength="1">
        {% endif %}
      {% endfor %}
      </div>
        {% if warning %}
          <div class="warning-message">{{ warning }}</div>
        {% endif %}
      <button type="button" onclick="clearPasswordInputs()" id="clear-button">Clear</button>
      <button type="submit" onclick="validateAndSubmit()" id="submit-button">Submit</button>
    </form>
    <div id="loading-spinner"></div>
    <div class="back-to-login">
      <a href="{{ url_for('auth.login') }}">
        <button class="back-button">Back</button>
      </a>
      <span class="back-text">Back to Login</span>
    </div>
  </div>
  
</body>
</html>
