body {
    font-family: "Arial", sans-serif;
    background-color: #f2f2f2;
  }

  .dashboard-container {
    width: 70%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h2 {
    text-align: center;
    color: #333;
  }

  .transaction-list {
    margin-top: 20px;
  }

  .transaction {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #e6e6e6;
    border-radius: 5px;
  }

  .transfer-form {
    margin-top: 20px;
  }

  .transfer-form h3 {
    text-align: center;
    color: #333;
  }


  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }

  button {
    display: block;
    width: 100%;
    padding: 12px; 
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px; 
  }

  button:hover {
    background-color: #45a049;
  }

  .dashboard-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  form {
    width: 100%;
  }

  .dashboard-buttons a {
    text-decoration: none;
    width: 100%;
  }


  .profile-button {
    background-color: #3498db;
  }

  .transfer-button {
    background-color: #e74c3c;
  }

  .logout-button {
    background-color: #2c3e50;
    width: 100%;
  }

  .dashboard-buttons button {
    width: 33%;
  }