body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }

  
  .reveal-button {
    width: 100%;
    padding: 12px;
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; 
  }

  .reveal-button:hover {
    background-color: #45a049;
  }


  .profile-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h2 {
    text-align: center;
    color: #333;
  }

 
  .profile-info {
    margin-bottom: 20px;
  }

  .profile-info label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .profile-info p {
    margin: 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }


  .sensitive-data {
    color: #d9534f; 
    font-weight: bold;
  }

  .back-to-dashboard {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  .back-button {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .back-button:hover {
    background-color: #2980b9;
  }

  .back-text {
    margin-left: 10px;
  }

  .hidden {
    display: none;
  }