body {
    font-family: 'Arial', sans-serif;
  }

  .password-container {
    width: 70%;  
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  h2 {
    text-align: center;
  }

  .password-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;  
  }

  .password-inputs input {
    width: 20px; 
    height: 20px;
    text-align: center;
    font-size: 16px;
  }

  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }

  button#clear-button {
    width: 15%;
    margin: 0 auto; 
    margin-bottom: 7px;
  }

  .warning-message {
    color: red;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
  }

  #loading-spinner {
    display: none;
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.back-to-login {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.back-button {
  background-color: #3498db;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

a {
  text-decoration: none; 
}

.back-button:hover {
  background-color: #2980b9;
}

.back-text {
  margin-left: 10px;
}

.hidden {
  display: none;
}

